db_path: 'rss2jira.db'
socket_timeout_sec: 20
jira_url: 'https://jira.gsc.wustl.edu'
jira_username: 'TheDude'
jira_password: 'Abides'
jira_projectKey: 'BST'
jira_issuetypeName: 'Epic'
email:
  smtp: smtp.lebowsk.io
  from: the.rug@lebowsk.io
  to:
  - the.dude@lebowsk.io
sources:
- name: 'BioStars'
  feed_url: 'http://biostars.org/feeds/latest'
- name: 'SEQanswers'
  feed_url: 'http://seqanswers.com/forums/external.php?type=RSS2'
  jira_url: 'https://otherjira.gsc.wustl.edu'
  jira_username: 'OtherDude'
  jira_password: 'StillAbides'
  jira_projectKey: 'OTHER'
  jira_issuetypeName: 'Bowling'
  jira_assignee: 'Donny'
  jira_custom_fields:
    customfield_10000: 'I am the walrus'
    customfield_10001: 'Shut up'
- name: 'AusCERT Feed'
  feed_url: 'https://www.auscert.org.au/rss/bulletins/'
  keywords:
  - "cisco": networkguy
    "redhat": osguy
  - "debian|freebsd|suse|ubuntu|distros_we_dont_use": null
  - ".*": securityguy
  jira_custom_fields:
    customfield_10002: "CVSS Base Score: {{ cvssBaseScore }}, Date: {{ today }}"
  action:
    type: follow
    method: get
    kwargs:
      timeout: 15
      verify: False
    outputActions:
    - type: soup
      element: pre
      kwargs:
        class_: bulletin_text
      outputActions:
      - type: re
        find: (.{0,30000}).*
        replace: "{noformat}\\1{noformat}"
        outputActions:
        - type: resultAppend
      - type: re
        find: ^.{0,25}Base[^\d]{0,25}([\d\.]+)
        group: 1
        default: "11"
        outputActions:
        - type: float
          outputActions:
          - type: register
            var: cvssBaseScore
    - type: today
      outputActions:
      - type: str
        outputActions:
        - type: register
          var: today
    exceptActions:
    - type: register
      var: cvssBaseScore
      val: 11
    - type: today
      outputActions:
      - type: str
        outputActions:
        - type: register
          var: today
keywords:
- 'breakdancer'
- 'ibwa'
- 'joinx'
- 'music'
- 'refcov'
- 'somaticsniper'
- 'tigra-sv'
